.nav {
  padding: 0.4rem 10rem;
  background-color: bisque;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.checkout-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  width: 8rem;
  background-color: rgb(196, 173, 198);
  color: aliceblue;
  padding: 0.4rem 1rem;
}

.checkout-div span {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  right: 0.4rem;
  top: -0.2rem;
  text-align: center;
  font-size: 12px;
}
